@import "/src/styles/index.scss";

.special-heading {
  padding: 3vw;
  background: linear-gradient(45deg, #0004ff, #7bff00, #ea00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  align-items: center;
  left: 30px;
  font-size: 4vh; /* Set the font size for desktop */
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}

.home-text p {
  margin: 0;
  overflow: hidden;
  font-size: 3vw; /* Set the font size for desktop */
}

.home-text p span {
  font-size: 3.5vw; /* Set the font size for desktop */
  color: #ff2c45;
  font-weight: 700;
  display: block;
  line-height: 46px;
  display: none;
}

.home-text p span.text-in {
  display: block;
  animation: textIn .5s ease;
}

.home-text p span.text-out {
  animation: textOut .5s ease;
}

@keyframes textIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes textOut {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@include mobile {
  .special-heading {
    padding: 2vh;
    font-size: 2vh; /* Set the font size for mobile */
  }

  .home-text p {
    font-size: 3vh; /* Set the font size for mobile */
  }

  .home-text p span {
    font-size: 3.5vh; /* Set the font size for mobile */
  }
}

